corpus2alpino>=0.3.3
chamd>=0.5.1
django>=3.0a1,<3.2
django_cron
djangorestframework
django-livereload-server
django-rest-auth[with_social]
#django-revproxy>=0.9.16 not yet on PyPi. Get from git directly:
git+git://github.com/TracyWebTech/django-revproxy@master#egg=django-revproxy
pandas
psycopg2 --no-binary psycopg2
pytest
pytest-django
pytest-xdist
python-docx
python-ucto==0.4.7
openpyxl
xlrd>=1.2,<2
xlsxwriter