corpus2alpino
celery
chamd>=0.5.4
django<4
django_celery_results
djangorestframework
django-livereload-server
django-rest-auth[with_social]
# django-revproxy, see https://github.com/UUDigitalHumanitieslab/cookiecutter-webapp-deluxe/issues/35
git+https://github.com/jazzband/django-revproxy.git@0.11.0
lxml==4.9.1
numpy<1.22
pandas
psycopg2
pytest
pytest-django
pytest-lazy-fixture
pytest-xdist
python-docx
openpyxl
xlrd>=1.2,<2
xlsxwriter
