corpus2alpino
celery
chamd
django<4
django_celery_results
djangorestframework
django-livereload-server
django-rest-auth[with_social]
django-revproxy
lxml==4.9.1
natsort
numpy<1.22
pandas==1.3.*
psycopg2
pytest
pytest-django
pytest-lazy-fixture
pytest-xdist
python-docx
openpyxl
sastadev
sentry-sdk[django]
