@import '../../../variables';

.logo {
    display: inline-block;
    height: 30px;
    max-width: 120px;
    margin-right: 5px;
}

img {
    max-height: 100%;
}

.lab-logo {
    background: $lab-color;
    padding: 2px;
    }

    .section {
        padding: 1em 1em;
    }

    .footer {
        padding: 0 0;
}
