<ng-container *ngIf="method">
    <h1 class="title">{{method.name}}</h1>
    <h2 class="subtitle">{{method.date_added}} | {{method.queries?.length}} queries</h2>

    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Item</th>
                <th>Query</th>
                <th class="has-text-right">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let query of method.queries">
                <td>{{query.query_id}}</td>
                <td>{{query.item}}</td>
                <td>
                    <span *ngIf="query.query" class="icon is-small">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </span>
                </td>
                <td class="has-text-right">
                    <div class="buttons is-right">
                        <button class="button is-primary" pTooltip="view query details" (click)="showQuery(query)">
                            <span class="icon is-small">
                                <fa-icon [icon]="faSearch"></fa-icon>
                            </span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <p-dialog header="{{selectedQuery?.query_id}}" [(visible)]="showDialog">
        <p-accordion [multiple]="true">
            <ng-container *ngFor="let key of _.keys(selectedQuery)">
                <div *ngIf="(key !== 'id' && key !== 'query_id' && key !== 'method')">
                    <p-accordionTab header=" {{key}}" [disabled]="!selectedQuery[key] && selectedQuery[key] != 0">
                        {{selectedQuery[key]}}
                    </p-accordionTab>
                </div>
            </ng-container>
        </p-accordion>
    </p-dialog>
</ng-container>
