// specify shared colors here https://bulma.io/documentation/customize/variables/
$lab-color: linear-gradient(to bottom right, #1693ed, #007ad9);
$primary: #3f51b5;
$dark: #002984;
$link: $primary;
$secondary: #B5A33F;

@import '~bulma/sass/utilities/_all';
