<div class="columns is-centered">
    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <form (submit)=register() class="box">
            <div class="field">
                <label for="" class="label">Username</label>
                <div class="control has-icons-left">
                    <input type="username" placeholder="*******" class="input" [(ngModel)]="username" name="username"
                        required>
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </span>
                </div>
            </div>
            <div class="field">
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                    <input type="email" placeholder="*******" class="input"
                        [ngClass]="{'is-danger': email.dirty && email.invalid}" [(ngModel)]="emailAddress"
                        #email="ngModel" name="emailAddress" email required>
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                    </span>
                    <p *ngIf="email.dirty && email.invalid" class="help is-danger">This email is invalid</p>
                </div>
            </div>
            <div class="field">
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                    <input type="password" placeholder="*******" class="input" [(ngModel)]="password1" name="password"
                        required>
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faLock"></fa-icon>
                    </span>
                </div>
            </div>
            <div class="field">
                <label for="" class="label">Confirm password</label>
                <div class="control has-icons-left">
                    <input type="password" placeholder="*******" class="input"
                        [ngClass]="{'is-danger': !passwordSame() && password2}" [(ngModel)]="password2" name="password"
                        required>
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faLock"></fa-icon>
                    </span>
                </div>
                <p *ngIf="!passwordSame() && password2" class="help is-danger">Passwords don't match</p>
            </div>
            <p-messages [(value)]="messages" [closable]="false"></p-messages>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary" [ngClass]=" {'is-loading': processing}"
                        [disabled]="!username || !passwordSame() || email.invalid">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
