<footer class="footer is-light is-hidden-print">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h5 class="subtitle is-5"><u>S</u>emi-<u>A</u>utomatische <u>S</u>pontane <u>T</u>aal <u>A</u>nalyse
                    </h5>
                    <div class="content">
                        <div class="level-left">
                            <a class="level-item" href="mailto:dhdevelopers@uu.nl?subject=[SASTA] Feedback">Send
                                feedback</a>
                            <a class="level-item" href="https://github.com/UUDigitalHumanitieslab/sasta">Source code</a>
                        </div>
                    </div>
                </div>
                <div class="column has-text-right-tablet">
                    <div class="field">
                        <a class="logo university-logo image" href="https://uu.nl" target="_blank">
                            <img src="/assets/logo/utrecht-university.svg" alt="Utrecht University logo" width="200"
                                height="50" />
                        </a>
                        <a class=" logo lab-logo image" href="https://dig.hum.uu.nl" target="_blank">
                            <img src="/assets/logo/dhlab.svg" alt="Digital Humanities Lab logo" width="200"
                                height="40" />
                        </a>
                        </div>
                        <div class="field">
                            <a class="logo" href="https://www.clariah.nl" target="_blank">
                                <img src="/assets/logo/clariah.png" alt="CLARIAH logo" />
                            </a>
                            <a class="logo" href="https://klinischelinguistiek.nl" target="_blank">
                                <img src="/assets/logo/vkl.png" alt="VKL logo" />
                            </a>
                            <a class="logo" href="https://www.vogellanden.nl" target="_blank">
                                <img src="/assets/logo/vogellanden.png" alt="Vogellanden logo" />
                            </a>
                            <a class="logo" href="https://www.hu.nl/" target="_blank">
                                <img src="/assets/logo/hu.png" alt="HU logo" />
                            </a>
                            <a class="logo">
                                <img src="/assets/logo/taaltechnologie.png" alt="TaalTechnologie logo" />
                            </a>
                            <a class="logo" href="https://www.uu.nl/en/research/utrecht-institute-of-linguistics-ots"
                                target="_blank">
                                <img src="/assets/logo/uilots.png" alt="UIL-OTS logo" />
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
