<h1 class="title">Upload</h1>
<form (submit)="startUpload()">
    <div class="field is-grouped">
        <div class="field">
            <label class="label">To corpus</label>
            <div class="control">
                <p-dropdown
                    [options]="corpora"
                    optionLabel="name"
                    name="corpus-dropdown"
                    placeholder="select corpus"
                    [(ngModel)]="selectedCorpus"
                    showClear="true"
                    [disabled]="!(corpora?.length > 0)"
                    (onChange)="onSelectCorpus()"
                >
                </p-dropdown>
            </div>
        </div>
        <div class="divider is-vertical">or</div>
        <div class="field">
            <label class="label">New corpus</label>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="name"
                    placeholder="..."
                    [(ngModel)]="newCorpusName"
                    [class.is-danger]="newCorpusName && corpusNameInUse()"
                    [disabled]="selectedCorpus"
                />
            </div>
            <p *ngIf="corpusNameInUse()" class="help is-danger">
                Corpus name in use, provide a unique name or pick one from the
                list
            </p>
        </div>
    </div>

    <div class="field">
        <label class="label">File(s)</label>
        <div class="control">
            <p-fileUpload
                #fileInput
                [showUploadButton]="false"
                [multiple]="true"
                customUpload="true"
                (uploadHandler)="onUpload($event)"
                fileLimit="50"
                [accept]="fileAccept"
            >
                >
            </p-fileUpload>
        </div>
    </div>

    <div class="field">
        <label class="label">Method category</label>
        <div class="control">
            <p-dropdown
                [options]="categories$ | async"
                optionLabel="name"
                name="category-dropdown"
                [placeholder]="selectedCategory?.name || 'select category'"
                [(ngModel)]="selectedCategory"
                [disabled]="selectedCorpus"
            >
            </p-dropdown>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button
                class="button is-primary"
                [disabled]="!fullyFilled()"
                [ngClass]="{ 'is-loading': uploading }"
            >
                Process
            </button>
        </div>
    </div>
</form>
