<h1 class="title">Upload</h1>
<form (submit)="upload()">

    <div class="field">
        <label class="label">To corpus</label>
        <div class="control">
            <p-dropdown [options]="corpora" optionLabel="name" name="corpus-dropdown" placeholder="select corpus"
                [(ngModel)]="selectedCorpus" showClear="true">
            </p-dropdown>

        </div>
    </div>

    <div class="field">
        <label class="label">New corpus</label>
        <div class="control">
            <input class="input" type="text" name="name" [(ngModel)]="newCorpusName" [disabled]="selectedCorpus" />
        </div>
    </div>

    <div class="field">
        <label class="label">File</label>
        <div class="control">
            <div class="file" [ngClass]="{'has-name': fileName}">
                <label class="file-label">
                    <input #file class="file-input" type="file" name="transcript" (change)="fileChange(file)"
                        accept=".txt,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.zip,application/zip,application/x-zip-compressed,multipart/x-zip">
                    <span class="file-cta">
                        <span class="file-icon">
                            <fa-icon [icon]="faUpload"></fa-icon>
                        </span>
                        <span class="file-label">
                            Choose a file…
                        </span>
                    </span>
                    <span class="file-name" *ngIf="fileName">
                        {{fileName}}
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary" [disabled]="!content"
                [ngClass]="{'is-loading': uploading}">Process</button>
        </div>
    </div>
</form>